
<div>
  <h1 style="width: auto; color: blueviolet;">IBM Manage for Cloud Assessment Portal</h1>
</div>

<nav>
  <router-outlet />
 <!-- <a class="button" routerLink='/instructions' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Instructions</a> |
  <a class="button" routerLink='/profile' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Profile</a> |
  <a class="button" routerLink='/register' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Register</a> |
  <a class="button" routerLink='/m4c' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Assessment</a> |
  <a class="button" routerLink='/dashboard' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Dashboard</a> |
  <a class="button" routerLink='/customer' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Customer</a> |
  <a class="button" routerLink='/login' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Login</a>

  <a class="button" routerLink='/login' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Click here to Start Assessment</a>-->
</nav>



