<!-- <p>login works!</p>

<h2>Congratulation On Successfull login. Now click on:  <a class="button" routerLink="/instructions">Begin Assessment</a></h2>
 -->



 <!-- <p>login works!</p>

<h2>Congratulation On Successfull login. Now click on:  <a class="button" routerLink="/instructions">Begin Assessment</a></h2>
 -->


 <div class="login-container">
    <h2 class="login-message">Congratulations on Successful Login!</h2>
    <p class="instruction-text">Now click on the button below to begin your assessment.</p>
    <a class="button begin-assessment-button" routerLink="/instructions">Begin Assessment</a>
  </div>
  