<!-- <p>home works!</p>


<a class="button" routerLink='/login' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Click here to Login.</a> -->



<!-- <p>home works!</p>


<a class="button" routerLink='/login' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Click here to Login.</a> -->


<!-- <p>Welcome to the Home Page!</p> -->

<!-- <a class="button login-button" routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
  Click here to Login
</a> -->


<div class="home-container">
    <!-- <h1 class="home-title">Welcome to Assessment Portal</h1>
    <p class="home-subtitle">Assessment Portal - Your pathway to success starts here.</p> -->
    <h1 class="home-title">Welcome to Cloud Assessment Portal</h1>
    <a class="button login-button" routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      Click here to Login
    </a>
  </div>
