
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Example</title>
</head>
<body>
    <h2>Dashboard</h2>
    <table>
        <thead>
            <tr>
                <th>Customer</th>
                <th>Rating Given</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Johnson & Johnson</td>
                <td>4.5</td>
                <td><a href="./Manage for Cloud (M4C) Assessment v1.0 (1).xlsx" download>Download File</a></td>
            </tr>
            <tr>
                <td>Ultra Tech</td>
                <td>3.8</td>
                <td><a href="./Manage for Cloud (M4C) Assessment v1.0 (1).xlsx" download>Download File</a></td>
            </tr>
            <tr>
                <td>Bank of India</td>
                <td>5.0</td>
                <td><a href="./Manage for Cloud (M4C) Assessment v1.0 (1).xlsx" download>Download File</a></td>
            </tr>
        </tbody>
    </table>
    <a class="button" routerLink='/home' routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
</body>
</html>
