<p>m4c works!</p>

<p></p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 itable">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> 

  <!-- Name Screen= M4C sheet tab name -->
  <ng-container matColumnDef="attributes">
    <th mat-header-cell *matHeaderCellDef> Attributes </th>
    <td mat-cell *matCellDef="let element"> {{element.attributes}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef> Question </th>
    <td mat-cell *matCellDef="let element"> {{element.question}} </td>
  </ng-container>
  <ng-container matColumnDef="basic">
    <th mat-header-cell *matHeaderCellDef> Basic </th>
    <td mat-cell *matCellDef="let element"> {{element.basic}} </td>
  </ng-container>
  <ng-container matColumnDef="developing">
    <th mat-header-cell *matHeaderCellDef> Developing </th>
    <td mat-cell *matCellDef="let element"> {{element.developing}} </td>
  </ng-container>
  <ng-container matColumnDef="emerging">
    <th mat-header-cell *matHeaderCellDef> Emerging </th>
    <td mat-cell *matCellDef="let element"> {{element.emerging}} </td>
  </ng-container>
  <ng-container matColumnDef="differentiating">
    <th mat-header-cell *matHeaderCellDef> Differentiating </th>
    <td mat-cell *matCellDef="let element"> {{element.differentiating}} </td>
  </ng-container>
  <ng-container matColumnDef="bestinclass">
    <th mat-header-cell *matHeaderCellDef> Best-In-Class </th>
    <td mat-cell *matCellDef="let element"> {{element.bestinclass}} </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Current State Rating </th>
    <td mat-cell *matCellDef="let element"> 
          <!-- [(ngModel)]="selectedRating" -->
        <mat-radio-group  (change)="onRatingSelected($event)">
          <mat-radio-button value="1">Rating 1</mat-radio-button>
          <mat-radio-button value="2">Rating 2</mat-radio-button>
          <mat-radio-button value="3">Rating 3</mat-radio-button>
          <mat-radio-button value="4">Rating 4</mat-radio-button>
          <mat-radio-button value="5">Rating 5</mat-radio-button>
        </mat-radio-group>
    </td>
  </ng-container>
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef> Comments </th>
    <td mat-cell *matCellDef="let element"> 
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<h2>Now click on:  <a  class="button" routerLink="/dashboard">Dashboard</a></h2>
